.intro {
  width: 690px;
  margin-left: 148px;
  justify-self: start;

  @media screen and (max-width: 1024px) {
    margin-left: 48px;
  }

  @media screen and (max-width: 768px) {
    width: $widthTabletScreen;
    margin: 0 auto;
  }

  @media screen and (max-width: 425px) {
    width: $widthMobileScreen;
  }

  &__title {
    width: 100%;
    @include initial-text(54px, 58px, 900);
    margin: 0;

    @media screen and (max-width: 445px) {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__text {
    width: 100%;
    @include initial-text(16px, 26px, 400);
    margin: 40px 0 33px;
  }

  &__list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    @include initial-text(12px, 18px, 400);
  }

  &__space-accent {
    font-weight: 700;
  }
}
