.photo-grid {
  width: $widthWideSection;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    width: $widthTabletScreen;
  }

  @media screen and (max-width: 425px) {
    width: $widthMobileScreen;
  }
}
