$bgColor: #2A2C2F;
$textColor: #fff;
$fontStack: 'Inter', 'Arial', 'Helvetica', sans-serif;
$widthNarrowSection: 984px / 1280px * 100%;
$widthWideSection: 1184px / 1280px * 100%;

$widthTabletScreen: 93.75%;
$widthMobileScreen: 90%;
