@import '../vendor/normalize.css';
@import '../fonts/fonts.css';
.body {
  background-color: #2A2C2F;
}

.page {
  max-width: 1280px;
  padding: 28px 0 24px;
  margin: 0 auto;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 1024px) {
  .page {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .page {
    padding-top: 16px;
  }
}

.content {
  display: grid;
  gap: 92px;
  margin-bottom: 92px;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .content {
    gap: 88px;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 425px) {
  .content {
    gap: 64px;
    margin-bottom: 64px;
  }
}

.header {
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
}
@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
.header__links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 18px 0 6px;
}
@media screen and (max-width: 425px) {
  .header__links {
    margin-top: 16px;
  }
}
.header__link {
  margin-right: 18px;
  transition: opacity 0.3s ease;
}
.header__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header__link:last-child {
  margin: 0;
}
.header__lang-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.header__lang-link_active {
  text-decoration: underline;
}
@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}
@media screen and (max-width: 425px) {
  .header {
    width: 90%;
  }
}

.lead {
  width: 76.875%;
}
@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625%;
  }
}
@media screen and (max-width: 771px) {
  .lead {
    width: 100%;
  }
}
.lead__title {
  width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 736px) {
  .lead__title {
    width: 96%;
    font-size: 66px;
    line-height: 70px;
  }
}
@media screen and (max-width: 670px) {
  .lead__title {
    width: 92%;
    font-size: 58px;
    line-height: 62px;
  }
}
@media screen and (max-width: 445px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
  }
}
.lead__subtitle {
  width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 64px;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 720px) {
  .lead__subtitle {
    width: 82.5%;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 445px) {
  .lead__subtitle {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
  }
}
.lead__image {
  width: 100%;
  margin: 0;
  object-fit: cover;
}
.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 0 0;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  width: 690px;
  margin-left: 148px;
  justify-self: start;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
  }
}
.intro__title {
  width: 100%;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
}
@media screen and (max-width: 445px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.intro__text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 40px 0 33px;
}
.intro__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.intro__space-accent {
  font-weight: 700;
}

.photo-grid {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}
.photo-grid__image {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    width: 93.75%;
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
    width: 90%;
  }
}

.places {
  width: 76.875%;
}
@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
  }
}
@media screen and (max-width: 425px) {
  .places {
    width: 100%;
  }
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  margin: 0 0 80px 0;
}
.place:last-child {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}
@media screen and (max-width: 615px) {
  .place {
    margin-bottom: 49px;
    display: block;
  }
}

.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/2;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 425px) {
  .place__title {
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
}

.place__paragraphs {
  grid-row: 2/3;
}
@media screen and (max-width: 615px) {
  .place__paragraphs {
    width: 90%;
    margin: 0 auto;
  }
}

.place__paragraph {
  max-width: 484px;
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.place__paragraph:last-child {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}

.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  transition: opacity 0.3s ease;
  color: #fff;
}
.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.place__image {
  width: 100%;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (max-width: 615px) {
  .place__image {
    margin: 32px 0;
  }
}

.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 0 12px 0;
}

.place__website {
  align-self: end;
}
@media screen and (max-width: 615px) {
  .place__website {
    display: none;
  }
}

.cover {
  width: 92.5%;
}
@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
.cover__title {
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 0;
}
.cover__subtitle {
  width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 32px 0 0 0;
  text-align: center;
  z-index: 1;
  position: relative;
}

.cover__link {
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.cover__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 1s ease;
}
.cover__link:hover {
  cursor: pointer;
}
.cover__link:hover::before {
  opacity: 0.8;
}
@media screen and (max-width: 1090px) {
  .cover__link {
    min-height: 62.5vw;
  }
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 450px) {
  .cover__title {
    max-width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .cover__subtitle {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 1090px) {
  .cover__link {
    min-height: 62.5vw;
  }
}
.footer {
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    width: 90%;
    display: block;
  }
}
.footer__nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  transition: opacity 0.3s ease;
}
.footer__nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (max-width: 720px) {
  .footer__nav-link {
    font-size: 24px;
    line-height: 24px;
  }
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 18px;
}
@media screen and (max-width: 720px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
.footer__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
@media screen and (max-width: 720px) {
  .footer__author {
    line-height: 14px;
  }
}

@media screen and (max-width: 720px) {
  .footer__link {
    margin-bottom: 32px;
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }

  .footer__column {
    margin-bottom: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
